*{
    margin:0;
    padding:0;
}

body{
    width:100%;
}
.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top:25px;
}
img{
    width: 100%;
    object-fit: cover;
}
header{
    background-color: #F8F8F8;
    display: flex;
    padding:25px 15px;
    justify-content: space-around;
}
nav{
    align-self: center;
}
li{
    display: inline;
    padding-left:30px;
}
aside{
    margin-left:30px;
}
p{
    margin-top:10px;
}
img{
    margin-top:10px;
}
.recent-posts>h5{
margin-top:15px;
}
footer{
    background-color: #F8F8F8;
    width:100%;
    height: 150px;
    text-align:center;
}
footer > p{
    padding:25px 25px;
}